<div class="min-h-screen bg-gray-200 py-6 flex flex-col justify-center sm:py-12">
    <div class="relative py-3 sm:max-w-xl sm:mx-auto">
        <div class=" absolute inset-0 bg-gradient-to-r from-darkslateblue-400 to-sapphireblue-400 shadow-lg transform -skew-y-30 sm:skew-y-0 sm:-rotate-30 sm:rounded-3xl"></div>
        <div class=" absolute inset-0 bg-gradient-to-r from-bluemunsell-400 to-keppel-400 shadow-lg transform -skew-y-24 sm:skew-y-0 sm:-rotate-24 sm:rounded-3xl"></div>
        <div class=" absolute inset-0 bg-gradient-to-r from-mediumaquamarine-400 to-lightgreen-400 shadow-lg transform -skew-y-18 sm:skew-y-0 sm:-rotate-18 sm:rounded-3xl"></div>
        <div class=" absolute inset-0 bg-gradient-to-r from-inchworm-400 to-corn-400 shadow-lg transform -skew-y-12 sm:skew-y-0 sm:-rotate-12 sm:rounded-3xl"></div>
        <div class=" absolute inset-0 bg-gradient-to-r from-maizecrayola-400 to-sandybrown-400 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"></div>

        <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
            <div class="max-w-full mx-auto">
                <div>
                    <button class="w-full h-24 text-2xl mb-6 bg-bluemunsell-300 hover:bg-bluemunsell-500 text-white font-bold py-2 px-4 rounded-2xl">
                        Play
                    </button>
                    <button class="w-full h-24 text-2xl mb-6 bg-bluemunsell-300 hover:bg-bluemunsell-500 text-white font-bold py-2 px-4 rounded-2xl">
                        Leader Board
                    </button>
                    <button class="w-full h-24 text-2xl mb-6 bg-bluemunsell-300 hover:bg-bluemunsell-500 text-white font-bold py-2 px-4 rounded-2xl">
                        About
                    </button>
                    <button class="w-full h-24 text-2xl mb-6 bg-bluemunsell-300 hover:bg-bluemunsell-500 text-white font-bold py-2 px-4 rounded-2xl">
                        Credits
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>